<template lang="pug">
#charlist
  el-table(:data='ktru' style='width: 100%')
    el-table-column(label='Наименование' prop='name'): template(slot-scope="scope") 
        span(v-if="scope.row.choiceType != 3") {{scope.row.name}}
        el-input(v-else v-model='scope.row.name')
    el-table-column(label='Значение'): template(slot-scope="scope")
      //- form-value(:allValues="scope.row"  @iChange="childChange"  :index="scope.$index" :ref="'row'+scope.$index")
      div(v-if="scope.row.choiceType == '1' || scope.row.choiceType == '2'")
        span {{loadProd(scope.row)}}
        select(v-model='loadProd(scope.row) || scope.row.current' placeholder='Выберите значение')
          option(v-for='(item, i) in (scope.row.values.value )' 
                  :key='"key"+i'
                  :label='scope.row.values.value[0] ? item.qualityDescription : item' 
                  :value='scope.row.values.value[0] ? item.qualityDescription : item')
        //- span {{prod[scope.$index].values.value}}
        //- span {{labelNotation(scope.row.values.value.rangeSet.valueRange.minMathNotation)}} this.min  {{labelNotation(scope.row.values.value.rangeSet.valueRange.maxMathNotation)}} this.max
        //- el-slider(v-else range show-stops v-model="scope.row.current" :min="+scope.row.values.value.rangeSet.valueRange.min" :max="+scope.row.values.value.rangeSet.valueRange.max")

      //- el-select(v-if="scope.row.choiceType == 3" v-model='scope.row.current' multiple filterable allow-create :placeholder='scope.row.choiceType')
      //- el-select(v-else-if="scope.row.choiceType == 2" v-model='scope.row.current' multiple :placeholder='scope.row.choiceType')
      //-   el-option(v-for='item in scope.row.values.value.valueSet.concreteValue' :key='item' :label='item' :value='item')
      span(v-if="scope.row.choiceType == '3'") 
        el-input(v-model='scope.row.current')
    el-table-column(label='Операции'): template(slot-scope="scope")
      el-button(icon="el-icon-delete" :disabled='scope.row.isRequired === "true"' @click="removeItem(scope.$index)")
      span {{scope.$index}}
  el-button(type='primary'  @click="addItem()") Добавить характеристику  
  el-button(type='primary' @click="postjson") Сформировать исходящий JSON
  el-row  
    el-col(:span=12): pre KTRU {{ktru}}
    el-col(:span=12): pre PRODUCT {{prod}}
</template>


<script>

// import formValue from "./formValue.vue";

export default {
  // created(){
  //   for (let i = 0; i < this.ktru.length; i++) {
  //     if (this.product[i].values.value[0]){
  //       this.ktru[i].current = this.product[i].values.value[0].qualityDescription
  //     }
  //     else
  //     {this.ktru[i].current = this.product[i].values.value}
  //   }
  // }, 

  data: function() {
    return {
      prod: this.product || []
    };
  },

  props:{
    ktru:{
      type: Array,
      default: function () {
        return []
      }
    },
    product:{
      type: Array,
      default: function () {
        return []
      }
    },
  },


  methods: {

      loadProd(ktruRow){
        for (let i = 0; i < this.prod.length; i++) {
          if (this.prod[i].code == ktruRow.code) {
            return (this.prod[i] && this.prod[i].values.value.qualityDescription) || this.prod[i].values.value[0].qualityDescription
          }
        }
      },

        labelFormat: function(item) {
      return (
        1
        // this.labelNotation(item.rangeSet.valueRange.minMathNotation) + " " + item.rangeSet.valueRange.min + " " + this.labelName(item)
      );
    },
        labelName: function(item) {
      if (item.OKEI != undefined) {
        return " " + item.OKEI.name;
      }
      return " Единиц";
    },
        labelNotation: function(p) {
      switch (p) {
        case "greaterOrEqual":
        return "Больше либо равно";

        case "lessOrEqual":
        return "Меньше либо равно";
      
        default:
          return p;
      }
    },
    childChange: function(outputChar, i){
      this.ktru[i] = outputChar
    },


    labelMethod: function(item) {
      if (item.OKEI != undefined) {
        return " " + item.OKEI.name;
      }
      return " Единиц";
    },
    postjson: function() {
      if(this.prod.length == 0){
      this.prod = JSON.parse(JSON.stringify(this.ktru));
      for (let i = 0; i < this.prod.length; i++) {
        if (this.prod[i].values.value[0]) {
          this.prod[i].values.value = [{qualityDescription: ''}];
          this.prod[i].values.value[0].qualityDescription = this.prod[i].current;
        } else {
          this.prod[i].values.value.qualityDescription = this.prod[i].current
        }
        delete this.prod[i].current;
        delete this.prod[i].editMode;}
        // if (this.ktru[i].choiceType ==  3){
        //   this.product[i].values.value.qualityDescription = this.ktru[i].current;
        // }
        // else if (this.ktru[i].choiceType ==  2){
        //   this.product[i].values.value.valueSet.concreteValue = this.ktru[i].current;
        // }
        // else if (this.ktru[i].choiceType ==  1){
        //   if (this.ktru[i].values.value[0]) {
        //     let x = [];
        //     x[0].rangeSet.valueRange.min = this.ktru[i].current;
        //     this.product[i].values.value = x;
        //   }
        //   else {
        //     this.product[i].values.value.rangeSet.valueRange.min = this.ktru[i].current;
        //   }
        // }
      }
      else{
        for (let i = 0; i < this.ktru.length; i++) {
          if (this.ktru[i].code == 'custom'){
            this.prod.push(this.ktru[i])
          }
        }
      }
      console.log("Produt is:");
      console.log(this.product)
    },

    removeItem: function(index) {
      this.$confirm(
        "Данная характеристика будет удалена. Продолжить?",
        "Предупреждение",
        {
          confirmButtonText: "Да",
          cancelButtonText: "Нет",
          type: "warning",
          center: true
        }
      )
        .then(() => {
          this.ktru.splice(index, 1);
          
          this.$message({
            type: "success",
            message: "Удалено успешно"
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Удаление отменено"
          });
        });
    },

    addItem: function() {
      this.ktru.push({
        newItem: true,
        code: "custom",
        kind: "1",
        name: "Новая характеристика",
        type: "2",
        actual: "true",
        values: {
          value: {
            qualityDescription: 'Value'
          }
        },
        choiceType: "3",
        isRequired: "false"
      });
    }
  },
  // components: {
  //   formValue
  // }
};
</script>





