<template lang="pug">
#testcomp
  
  el-table(:data='ktru')
    el-table-column(label='Наименование' prop='name')
    el-table-column(label='SCOPE.ROW'): template(slot-scope="scope")
      span {{scope.row}}
    el-table-column(label='Значение KTRU'): template(slot-scope="scope")
      select(@change='createEmit()' v-model='codes[scope.row.code].value.qualityDescription || scope.row.current' value="dd" placeholder='Выберите значение')
        option(v-for='(item, i) in (scope.row.values.value )' 
                :key='"key"+i'
                :label='scope.row.values.value[0] ? item.qualityDescription : item' 
                :value='scope.row.values.value[0] ? item.qualityDescription : item')
    el-table-column(label='Значение селекта'): template(slot-scope="scope")
      span {{codes[scope.row.code].value.qualityDescription || scope.row.current}}
  el-row
    el-col(:span=12): pre codes {{codes}}
    el-col(:span=12): pre exportJson {{exportJson}}

</template>

<script>
export default {

  created() {
    for (let i = 0; i < this.prod.length; i++) {
      this.codes[this.prod[i].code] = this.prod[i].values;
    }
  },
  data: function() {
    return {
      codes: {},
      exportJson: {},
      prod: this.product || []
    };
  },
  methods: {
    createEmit(){
        this.formJson()
        this.$emit("objupd", this.exportJson)
    },

    formJson() {
      this.exportJson = JSON.parse(JSON.stringify(this.ktru));      
      for (var keyCode in this.codes) {
        for (let j = 0; j < this.exportJson.length; j++) {
          if (this.exportJson[j].code == keyCode) {
            this.exportJson[j].values = this.codes[keyCode]
          }
      }
        }
    }
    //   loadProd(ktruRow){
    //     for (let i = 0; i < this.prod.length; i++) {
    //       if (this.prod[i].code == ktruRow.code) {
    //         return (this.prod[i] && this.prod[i].values.value.qualityDescription) || this.prod[i].values.value[0].qualityDescription
    //       }
    //     }
    //   }
  },
  props: {
    ktru: {
      type: Array,
      default: function() {
        return [];
      }
    },
    product: {
      type: Array,
      default: function() {
        return [];
      }
    }
  }
};
</script>


<style>
#testcomp {
  min-height: 100vh;
}
</style>

