<template lang="pug">
#app
  span РОДИТЕЛЬСКИЙ PROD
  div {{ourUpdobj}}
  testcomp(:ktru='loadBase' :product='product' @objupd="ourUpdobj = $event")
  h1 Характеристика товара №  {{goodNumber}} : {{goodsName}} 
  el-button(type='primary' @click="++goodNumber") Следующий товар
  characteristic-list(:ktru='loadBase' v-model='product' )
  | {{ product }}
</template>

<script>
import fullData from "@/fullData.js";
import productTest from "@/productTest.js";
import CharacteristicList from "@/components/CharacteristicList";
import testcomp from "@/components/testcomp";
import axios from "axios";

export default {
  data: function() {
    return {
      ourUpdobj: null,
      goodNumber: 0,
      goodsName: "",
      inputData: [],
      product: productTest,
      fullData,
    };
  },
  components: {
    CharacteristicList,
    testcomp
  },
  computed:{
    loadBase: function() {
      this.goodsName = this.fullData[this.goodNumber].name;
      let temp = this.fullData[this.goodNumber].data.data.characteristics.characteristic;
      return this.inputData = temp.map(t => ({
        ...t,
        editMode: false
      }));
    }
  },
  


    // loadBase: function(good) {
    //   axios
    //     // .get("https://adm.misuz.ru/api/v1/nsi/ktru_directories.json?q=26.20")
    //     // .get("https://api.myjson.com/bins/vkdr6")
    //     .get("https://api.myjson.com/bins/dr3vi")
    //     .then(response => {
    //       console.log("Response is:");
    //       console.log(response);
    //       this.fullData = response.data;
    //       this.goodsName = this.fullData[good].name;
    //       let temp = this.fullData[good].data.data.characteristics
    //         .characteristic;
    //       this.inputDat = temp.map(t => ({
    //         ...t,
    //         editMode: false
    //       }));
    //       // Object.assign(this.outputData, temp)
    //       // ;
    //     })
    //     .catch(error => console.log(error));
    // }
  
};
</script>